target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionBackup
pom.xml.next

release.properties
dependency-reduced-pom.xml

.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

**/mvnw
**/mvnw.cmd

**/.mvn
**/target/
.idea
gulimall-third-party/src/main/resources/application.yml
renren-generator/